<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On
#esto se debe cambiar de acuerdo al proyecto:
RewriteBase /Curso-PHP-master/Hospisoftv2/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>