<ifModule mod_rewrite.c>
options -Multiviews 
RewriteEngine On 
# TENER EN CUENTA LA RUTA FULL PARA EL CORE 
RewriteBase /CursoPHP/Bases de Datos/MVCA/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</ifModule>
